{% load static %}
nav{
    background: black;
    color: greenyellow;
    font-size: 30px;
    height: 70px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}
body{
    background: linear-gradient(127deg, rgba(50,52,54,1) 76%, rgba(55,59,59,1) 81%, rgba(92,97,90,1) 89%, rgba(174,175,171,1) 97%, rgba(255,255,255,1) 100%);
    color: greenyellow;
}
.container{
    color: black;
    min-height: 400px;
    ont-family: Arial sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px;
}
footer{
    background: black;
    color: greenyellow;
    height: 30px;
    padding: 10px;
    margin: 30px 20px 20px 20px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
}

.form{
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    border: black solid 1px;
    border-radius: 5px;
    padding: 15px 5px;
}

.form .button{
    background-color: dimgray;
    border-radius: 2px;
    border: none;
    padding: 3px;
    width: 20%;
}

.err{
    color: red;
    margin-left: 7px;
}