{% extends "general.html" %}
{% load static %}

{% block title %}
    Добавить стих
{% endblock title %}

{% block content %}

<form class="form-group" method="post" action="{% url 'author_add' %}">
    {% csrf_token %}
    Форма добавления стиха

    {% for field in author_form %}
    <p>
        {{ field.label_tag }} {{ field }}
    </p>
    {% endfor %}

    <input id="submit" type="submit" value="Send" class="button">
    <input type="reset" value="Clear" class="button">

{% endblock content %}
</form>