<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <style>
        #image{
            background: url("{% static 'img/bg.jpg' %}") no-repeat fixed;
            background-size: 30%;
            background-position: 0% 100%;

        }
    </style>
</head>
<body>
<nav>
    {% if user.is_authenticated %}
    <div style="font-size: 15px; margin-left: 84%; color: greenyellow; ">
        <a href="">Домой</a>
        <a href="{% url 'logout' %}";>Выход</a>
    </div>
    {% else %}
    <div style="font-size: 15px; margin-left: 84%; color: greenyellow; ">
        <a href="">Домой</a>
        <a href="{% url 'login-page' %}";>Вход</a>
        <a href="{% url 'register' %}";>Регистрация</a>
    </div>
    {% endif %}
</nav>
<!--<audio autoplay src="{% static 'audio/bg.mp3' %}"></audio>-->
<div class="container" id="image">
{% block content %}
{% endblock content %}
</div>
<footer>
    Made with love in Preobrajenka, Ukraine, 2020
</footer>

</body>
</html>
