<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <style>
        #image{
            background: url("{% static 'img/bg.jpg' %}") no-repeat fixed;
            background-size: 30%;
            background-position: 0% 100%;

        }
    </style>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
</script>

<nav>
    {% if user.is_authenticated %}
    <div style="font-size: 15px; margin-left: 84%; color: greenyellow; ">
        <a href="{% url 'start_page' %}">Домой</a>
        <a href="{% url 'logout' %}";>Выход</a> <br>
        <a href="{% url 'verse_list' %}">Библиотека</a>
        <a href="{% url 'author_list' %}">Наши авторы</a>
    </div>
    {% else %}
    <div style="font-size: 15px; margin-left: 84%; color: greenyellow; ">
        <a href="{% url 'start_page' %}">Домой</a>
        <a href="{% url 'login-page' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a> <br>
        <a href="{% url 'verse_list' %}">Библиотека</a>
        <a href="{% url 'author_list' %}">Наши авторы</a>
    </div>
    {% endif %}
</nav>

<div class="container" id="image">
{% block content %}
{% endblock content %}
</div>

<footer>
    Made with love in Preobrajenka, Ukraine, 2020
</footer>

</body>
</html>
