{% extends "general.html" %}
{% load static %}

{% block title %}
    Домашняя страница
{% endblock title %}

{% block img_logo %}
<img width="50%" src="https://tickets.gocrimson.com/content/Images/branding/athletics-images/header-red-stripes.png" alt="harvard logo">
{% endblock img_logo %}

{% block content %}
     <h1>Добро пожаловать</h1>
    <h2>Универ - Ромашка</h2>
     <a href="/htmltrain">Link2</a>
    <p>par1</p>
    <p>
        par2
    </p>
    <p>par3</p>
    <p>par4 <br> par5<p>
{% endblock content %}